@import "mixin.scss";
@mixin width1100{
  @media (max-width: 1100px) {
    @content
  }
}

footer {
  .container{
    @include width1100{
      flex-wrap: wrap;
    }
  }
  .footer_nav{
    @include width890{
      flex-wrap: wrap;
      .footer_nav__items{
        text-align: center;
        width: 100%;
        li{
          margin-bottom: 5px;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 17px;

    &:hover {
      color: #8face1;
    }
  }
  h3{
    color: white;
    font-size: 20px;
  }
  ul {
    margin-right: 10px;
    padding: 0;
    list-style: none;
    li{
      margin-bottom: 20px;
    }
  }

  padding: 40px;
  background-color: #032541;

  .footer_logo {
    max-width: 154px;
    overflow: hidden;
    margin-right: 30px;

    img {
      margin: auto;
      display: block;
      width: 100%;
    }
  }
}