@import "mixin.scss";
header {
  @include width600{
    height: 180px;
    .justify-between{
      justify-content: center;
    }
  }
  .container {
    @include width600{
      padding: 0;
      flex-wrap: wrap;
    }
    padding: 0 40px;
    width: 100%;
  }
  form{
    margin: auto;
  }
  .header__search{
    form{
     @include width600{
       padding: 0 10px;
     }
      display: flex;
      justify-content: space-between;
    }
    background-color: white;
    button{
      font-weight: bolder;
    }
  }
  .header__primary_search {
    cursor: pointer;
    width: 100%;

  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #032541;

  .header__nav_menu {
    font-size: 16px;
    @include width890{
      display: none;
    }


    a {
      font-weight: 600;

      &:hover {
        color: #8face1;
      }
    }
  }

  .header__nav_logo {
    max-width: 154px;
    max-height: 20px;

    img {
      display: block;
      width: 100%;
    }
  }

  .header__nav_menu {
    a {
      text-decoration: none;
      color: white;
    }

    list-style: none;

    li {
      margin: 0 15px 0 0;
    }
  }

  .header__primary {
    color: white;

    li {
      margin: 0 15px;
    }

    .header__primary_language {
      padding: 4px;
      border: 1px solid white;
      border-radius: 5px;
      transition: 0.33s;
      cursor: pointer;

      &:hover {
        color: black;
        background-color: white;
        transition: 0.33s;
      }

      .header__primary_user-login {
        color: white;

        &:hover {
          color: #8face1;
        }
      }
    }

    .header__primary_user-login {
      cursor: pointer;
    }
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
