@import "mixin.scss";
.search_request-overview{
  width: 50%;
  margin-left: 20px;
  @include width700{
    width: 90%;
    margin: 0 0 10px;
  }
}
.overview__banner-wrapper{
  @include width700{
    flex-direction: column;
  }
}